@charset "utf-8";
/* CSS Document */

@font-face{
	font-family: "Myriad";
	src: url("../Document fonts/MyriadPro-Regular.otf");
}

@font-face{
	font-family: "Brandon";
	src: url("../Document fonts/icielBrandonText-Bold.ttf");
}

div{
	font-family: "Myriad";
}

a{
	font-family: "Myriad";
}

p{
	font-family: "Myriad";
}

h1{
	font-family: "Brandon";
}

h2{
	font-family: "Brandon";
}

h3{
	font-family: "Brandon";
}

h4{
	font-family: "Brandon";
}

h5{
	font-family: "Brandon";
}

h6{
	font-family: "Brandon";
}

.stroke{
-webkit-text-fill-color: transparent;
  font-size: 15em;
  -webkit-text-stroke: 0.5px whitesmoke;
}

input
{
	width: 800px;
}

/*footer*/
* {
  font-family: Open Sans;
}

section {
  width: 100%;
  display: inline-block;
  background: black;
  height: 50vh;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
}

.footer-distributed{
background: black;
box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
box-sizing: border-box;
width: 100%;
	height: 980px;
text-align: left;
font: bold 16px sans-serif;
padding: 55px 50px;
	margin: 0px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
display: inline-block;
vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
width: 40%;
}

/* The company logo */

.footer-distributed h3{
color:  #ffffff;
font: normal 36px 'Open Sans', cursive;
margin: 0;
}

.footer-distributed h3 span{
color:  red;
}

/* Footer links */

.footer-distributed .footer-links{
color:  #ffffff;
margin: 20px 0 12px;
padding: 0;
}

.footer-distributed .footer-links a{
display:inline-block;
line-height: 1.8;
  font-weight:400;
text-decoration: none;
color:  inherit;
}

.footer-distributed .footer-company-name{
color: white;
font-size: 14px;
font-weight: normal;
margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
width: 35%;
}

.footer-distributed .footer-center i{
background-color: black;
color: #ffffff;
font-size: 25px;
width: 38px;
height: 38px;
border-radius: 50%;
text-align: center;
line-height: 42px;
margin: 10px 15px;
vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
font-size: 17px;
line-height: 38px;
}

.footer-distributed .footer-center p{
display: inline-block;
color: #ffffff;
  font-weight:400;
vertical-align: middle;
margin:0;
}

.footer-distributed .footer-center p span{
display:block;
font-weight: normal;
font-size:14px;
line-height:2;
}

.footer-distributed .footer-center p a{
color:  red;
text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
width: 20%;
}

.footer-distributed .footer-company-about{
line-height: 20px;
color:  #92999f;
font-size: 13px;
font-weight: normal;
margin: 0;
}

.footer-distributed .footer-company-about span{
display: block;
color:  #ffffff;
font-size: 14px;
font-weight: bold;
margin-bottom: 20px;
}

.footer-distributed .footer-icons{
margin-top: 25px;
}

.footer-distributed .footer-icons a{
display: inline-block;
width: 35px;
height: 35px;
cursor: pointer;
background-color:  #33383b;
border-radius: 2px;

font-size: 20px;
color: #ffffff;
text-align: center;
line-height: 35px;

margin-right: 3px;
margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

.footer-distributed{
font: bold 14px sans-serif;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
display: block;
width: 100%;
margin-bottom: 40px;
text-align: center;
}

.footer-distributed .footer-center i{
margin-left: 0;
}

}



.textmau
{
	color: whitesmoke;
}

.p stroke{
	-webkit-text-fill-color: transparent;
  font-size: 15em;
  -webkit-text-stroke: 1px whitesmoke;
}

.p textmau{
	color: whitesmoke;
}

.p textmau:hover{
	-webkit-text-fill-color: transparent;
  font-size: 15em;
  -webkit-text-stroke: 1px whitesmoke;
}

.p stroke:hover{
	color: whitesmoke;
}


table, th, td {
	border: none;
padding: 10px 10px 0px 10px;
margin: 0px 100px 0px 100px;
font-family: Myriad;}


@media only screen and (max-width: 750px)
{
	input{width: 200px;}
	table, th, td{margin: 10px;}
}


p.strikearound {
    position: relative;
    font-size: 30px;
    z-index: 1;
    overflow: hidden;
    text-align: center;
}
p.strikearound:before, p.strikearound:after {
    position: absolute;
    top: 51%;
    overflow: hidden;
    width: 50%;
    height: 1px;
    content: '\a0';
    background-color: grey;
}
p.strikearound:before {
    margin-left: -50%;
    text-align: right;
}